.side-nav{
    
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: brown;
    font-weight: 6px;
    display: grid;
}

.side-barrs{
    display: flex;
}
.side-nav-barss div{
    min-width: 200px;
    height:50px;
}
.side-barrs span{
    display: flex;
}

